.header {
  background-color: #ffffff;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(0, 0, 0);
  height: 60px;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-text {
  color: black; 
  padding-left: 25px
}